:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  padding: 2rem;
  display: grid;
  height: 100%;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: auto;
  grid-template-areas: 
    ". header ."
    "left-sidebar main right-sidebar"
    "left-sidebar actions right-sidebar";
}

#header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#left-sidebar {
  grid-area: left-sidebar;
}

#right-sidebar {
  grid-area: right-sidebar;
}

#main {
  grid-area: main;
}

#actions {
  grid-area: actions;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 2.1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible,
button.active {
  outline: 4px auto -webkit-focus-ring-color;
}
button > svg {
  width: 24px;
  fill:rgba(255, 255, 255, 0.87);
}

canvas#graph {
  width: 100%;
  height: 60vh;
  background-color: #1a1a1a;
  border-radius: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f2f2f2;
  }
  canvas#graph {
    background-color: #f2f2f2;
  }
  button > svg {
    fill: #000;
  }
}


#actions {
  display: flex;
  justify-content: space-between;
}

#actions > button {
  margin: 10px 5px;
}

.label {
  font-weight: bold;
  margin-bottom: 0;
}